@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  @keyframes loading-color {
    0% {
      color: #e9e9e9;
    }

    50% {
      color: #b89b84;
    }

    100% {
      color: #e9e9e9;
    }
  }

  .animate-loading {
    animation: loading-color 1.2s ease-in-out infinite;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(#282c34, #282c34);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
}
